.container1 {
  text-align: center;
  padding-top: 50px;
  border-radius: 10px;
}
.container {
  margin-left: 140px;
}
.form {
  position: relative;
  top: 10px;
  left: 20px;
}
.col-2 {
  text-align: center;
}
.day {
  font-weight: bolder;
}

.ul {
  text-align: center;
}
.currentLoc {
  border-radius: 5px;
  border-width: 1px;
}
.link {
  padding-left: 530px;
}
.temp {
  font-size: xx-large;
}
